#juicebox-container{
	height:100%;
	width:100%;
	position:fixed;
	background: none repeat scroll 0 0 #222222;
}

#pnl-detail{
	width:100%;
}

#pnl-index{
	width:100%;
}

.showing-window{
	overflow:hidden;
	width:100%;
}

#pnl-detail .showing-window{
	/* Firefox */
	height: -moz-calc(100% - 95px);
	/* WebKit */
	height: -webkit-calc(100% - 95px);
	/* Opera */
	height: -o-calc(100% - 95px);
	/* Standard */
	height: calc(100% - 95px);
	position: fixed;
}

#pnl-index .showing-window{
	width: 1800px;
	height: 95px;
	position: fixed;
	bottom:0;
}

#pnl-detail img.ele-hide, .ele-hide{
	display:none;
}

#pnl-detail img{
	max-height:100%;
	max-width:100%;
	display: block;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}

#pnl-index img{
	cursor: pointer;
	display: block;
	float: left;
	width: 85px;
	margin: 5px;
}

.selected{
	opacity:1;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s;
}

.unselected{
	opacity:0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s;
}

@media (max-width: 768px) {
	#juicebox-container{
		overflow-y: scroll;
		overflow-x: hidden;
	}
	#pnl-index .showing-window{
		width: 100%;
		height: auto;
		bottom: auto;
		position: static;
		padding-top: 20px;
	}
	.lightbox{
		display: none;
	}
	#pnl-detail .showing-window{
		height: 100%;
	}
	.lightbox:target{
		background: rgba(0,0,0,0.8);
		display: block;
	}
}
